<div class="col-sm-6">
 <h1>Show user <%=@user.email%></h1>
 <table class="table table-striped">
    <thead>
      <tr>
        <th>Setting</th>
        <th><%= t('value')%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td><%= @user.id%></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @user.email%></td>
      </tr>
      <tr>
        <td>Role</td>
        <td><%= @user.role.to_s%></td>
      </tr>
      <tr>
        <td>Created at</td>
        <td><%= @user.created_at%></td>
      </tr>
    </tbody>
  </table>
</div>

<script>
   $("#li_show_user").addClass('active');

</script>
